---
layout: default
title: Home
---


<div class="about">
  <div class="about-me" style="padding: 0px 0px 30px 0px;">
  
    <div style="padding: 0px 0px 30px 0px;" >
      <div style="text-align: center;">
        <img src="./asset/me.jpeg" alt="me" style="max-width:60%; height:auto;">
      </div>
      <a href="./asset/cv.pdf">CV</a> | <a href="https://github.com/TaeryungLee">Github</a> | <a href="https://www.linkedin.com/in/taeryung-lee-b5a702262">Linkedin</a> | 
      <a href="https://scholar.google.co.kr/citations?user=g4apomIAAAAJ&hl=ko">Google Scholar</a> | <a href="https://cv.snu.ac.kr">SNU CVLAB</a><br>
      <b>Email: trlee94@snu.ac.kr</b>
    </div>
    <h2 class="title">
      About me
    </h2>
    I am a Ph.D candidate majoring in computer vision and machine learning at SNU computer vision lab, advised by <a href="https://cv.snu.ac.kr/index.php/~kmlee/">Prof. Kyoung Mu Lee</a>.
  </div>
</div>


<div class="research-interests" style="padding: 0px 0px 30px 0px;">
  <h2 class="title">
    Research Interests
  </h2>
  Human-centric computer vision, including human pose estimation, behavior understanding and motion generation.
</div>


<div class="publications" style="padding: 0px 0px 30px 0px;">
  <h2 class="title">
    Publications
  </h2>
  <ol>
    <br>
    <img src="asset/p3d.png" width="450" alt="P3D" class="center">
    <li>
      "Human Part-wise 3D Motion Context Learning for Sign Language Recognition", in <b>ICCV 2023</b>.<br>
      <b>Taeryung Lee</b>, Yeonguk Oh and Kyoung Mu Lee.
      <!-- [<a href="https://arxiv.org/abs/2303.05370">ARXIV</a>] -->
    </li>
    <br>
    <img src="asset/rethinking.png" width="450" alt="RETHINKING" class="center">
    <li>
      "Empirical Study of Pre-training a Backbone for 3D Human Pose and Shape Estimation", in <b>ICLR 2023</b>.<br>
      Hongsuk Choi&#x002A, Hyeongjin Nam&#x002A, <b>Taeryung Lee</b>, Gyeongsik Moon and Kyoung Mu Lee. (&#x002A equal contribution)
      [<a href="https://arxiv.org/abs/2303.05370">ARXIV</a>]
    </li>
    <br>
    <br>
    <img src="asset/multiact.gif" width="450" alt="MultiAct" class="center" loop=infinite />
    <li>
      "MultiAct: Long-Term 3D Human Motion Generation from Multiple Action Labels", in <b>AAAI 2023 (Oral presentation).</b><br>
      <b>Taeryung Lee&#x002A</b>, Gyeongsik Moon&#x002A and Kyoung Mu Lee. (&#x002A equal contribution)<br>
      [<a href="https://arxiv.org/abs/2212.05897">ARXIV</a>] [<a href="https://github.com/TaeryungLee/MultiAct_RELEASE">CODE</a>]
    </li>
  </ol>
</div>


<div class="education" style="padding: 0px 0px 30px 0px;">
  <h2 class="title">
    Education
  </h2>
  <ul>
    <li>
      <img src="asset/SNU.png" width="150" alt="SNU" class="center">
      <b>Ph. D.</b> in Artificial Intellegence, Seoul National University (Mar. 2021 - )<br>
    </li>
    <br>
    <li>
      <img src="asset/kaist.gif" width="150" alt="KAIST" class="center">
      <b>B. Sc.</b> in Mathematical Science and Computer Science, KAIST (Mar. 2013 - Feb. 2021)<br>
    </li>
    <br>
    <li>
      <img src="asset/gshs.png" width="350" alt="GSHS" class="center">
      <b>HS</b>, Gyeonggi Science High School (Mar. 2010 - Feb. 2013)
    </li>
  </ul>
</div>


<div class="honors" style="padding: 0px 0px 30px 0px;">
  <h2 class="title">
    Honors and Awards
  </h2>
  <ul>
    <li>
      <b>Qualcomm-KAIST Innovation Awards 2019</b><br>
      Software Development Hackathon on Emotion Recognition from Video, 
      <b>Taeryung Lee</b> and Junwoo Choi
    </li>
  </ul>
</div>

<div class="experience" style="padding: 0px 0px 30px 0px;">
  <h2 class="title">
    Experiences
  </h2>
  <ul>
    <br>
    <li>
      <img src="asset/NLE.jpg" width="250" alt="NLE" class="center">
      <b>Research internship (Remote), Naver Labs Europe</b>, Grenoble, France (Apr. 2023 - Nov. 2023)<br>
    </li>
  </ul>
</div>

<div class="project" style="padding: 0px 0px 30px 0px;">
  <h2 class="title">
    Projects
  </h2>
  <ul>
    <li>
      <b>Development of Sign Language Recognition system</b> (May 2022 - May. 2023)<br>
      With Samsung SDS
    </li><br>
    <li>
      <b>Automated cryptocurrency trading system</b> (Dec. 2018 - )
    </li>
  </ul>
</div>

<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div> -->

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
